<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<% if @article.tags.size > 0 %>
<div>
  Tags:
  <% @article.tags.map do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</div>
<% end %>

<br>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<br>
<%= render partial: 'comments/form' %>
<br>
<%= link_to 'Articles', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Delete', article_path(@article), method: :DELETE, data: {confirm: 'Are you sure?'} %>
