<h3><%= @article.title %></h3>
<p><%= @article.body %></p>

<br>
<%= link_to 'Articles', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Delete', article_path(@article), method: :DELETE, data: {confirm: 'Are you sure?'} %>
